@import "~antd/dist/antd.less";

@padding: 24px;

@blue: #0065f2;

.ant-layout {
  height: 100vh;
}

.ant-layout-content {
  padding: @padding;
}

.centered-spinner {
  position: relative;
  top: 48%;
  left: 48%;
}

.container--center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget-header {
  background-color: @blue-4;
}
