@import "../../node_modules/spinthatshit/src/loaders.scss";

.spinner-white {
  @include loader02(
    $size: 20px,
    $border-size: 2px,
    $duration: 1s,
    $align: middle,
    $color: #fff
  );
  margin: 0;
}

.spinner-blue {
  @include loader02(
    $size: 20px,
    $border-size: 2px,
    $duration: 1s,
    $align: middle,
    $color: #0065f2
  );
  margin: 0;
}
