@import "~antd/dist/antd.less";

#__next {
  min-height: 100vh;
  .ant-layout {
    min-height: 100vh;
  }
}

.ant-form-inline {
  .ant-form-item:last-child {
    margin-right: 0;
  }
}

.inverted {
  color: #aaa;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.ant-select-selection-search {
  input {
    padding: 0;
  }
}

.legal-document {
  ol {
    counter-reset: item;
    padding-left: 20px;
    li {
      display: block;
      margin-bottom: 10px;
      padding: 0;
    }
    > li:before {
      content: counters(item, ".") ". ";
      counter-increment: item;
    }
    > li::first-line {
      margin-left: -18px;
    }

    > li > ol > li::first-line {
      margin-left: -29px;
    }
  }
}

.legal-modal {
  width: 95% !important;
}
